@import "blueprint_variables.scss";
@import "bootstrap_reduced.scss";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.data-box {
    display: block;
    position: relative;  // Necessary so that close button is positioned relative to this
    overflow: hidden;
    padding: 5px;
    margin: 3px 3px;
    border: 1px solid black;
    min-width: 75px;
    border-radius: 5px;

    &.data-box-with-name {
        margin-top: 0
    }

    .close-button {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        min-width: 0 !important;
        min-height: 0 !important;
    }
    .close-button:hover {
        display: block;
        opacity: 100
    }

    .zoom-button {
        opacity: 0;
        position: absolute;
        top: 0;
        right: -1px;
        min-width: 0 !important;
        min-height: 0 !important;
    }
    .zoom-button:hover {
        display: block;
        opacity: 100
    }
}

.data-box-outer {
    display: inline-block;
    vertical-align: top;
}

.closed-data-box {
    margin: 0 5px;
    display: block;
    width: 75px
}

.data-box-name {
    margin-left: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

//.close-button:hover {
//    color: red
//}

.data-line {
    display: block;
    border: none
}

.editable {
    display: inline-block;
    padding: 3px;
    &:focus {
        outline: none
    }
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 3px;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}

.bp3-button:focus {
    outline: none
}
