

.data-box {
    display: inline-block;
    //float: left;
    overflow: hidden;
    padding: 5px;
    margin: 0;
    border: 1px solid black;
    .ui-resizable-handle {
        z-index: 10 !important
    }
}

.editable {
    display: inline-block;
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 3px;
}