@import "blueprint_variables.scss";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.data-box {
    display: inline-block;
    position: relative;  // Necessary so that close button is positioned relative to this
    overflow: hidden;
    padding: 5px;
    margin: 0 5px;
    border: 1px solid black;
}

.close-button {
    color: white;
    position: absolute;
    top: 1px;
    left: 1px;
}

.close-button:hover {
    color: red
}

.data-line {
    display: block;
    border: none
}

.editable {
    display: inline-block;
    padding: 3px;
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 3px;
}