{% extends "base_reactns.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block head %}
{% endblock %}

{% block styles %}
{% endblock %}

{% block page_content %}
    <div id="modal-area">
    </div>
    <div id="main-root">

    </div>
    <canvas id="measure-canvas" style="display:none"></canvas>
{% endblock %}
{% block scripts %}
    <script src="{{url_for('static', filename='js/mousetrap.min.js')}}"></script>

    <script type="module" src="{{url_for('static', filename=module_source, v=version_string)}}"></script>
    <script>
        window.world_name = "{{world_name}}";
        window.username = "{{current_user.username}}";
        window.user_id = "{{current_user.get_id()}}";

    </script>
{% endblock %}