{% extends "base_reactns.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block head %}
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{url_for('static', filename='css/codemirrorthemes/codemirror.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/codemirrorthemes/dialog.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/codemirrorthemes/show-hint.css')}}">
{% endblock %}

{% block page_content %}
    <div id="modal-area">
    </div>
    <div id="main-root">

    </div>
    <canvas id="measure-canvas" style="display:none"></canvas>
{% endblock %}
{% block scripts %}
    <script src="{{url_for('static', filename='js/codemirror/codemirror.js')}}"></script>
    <script src="{{url_for('static', filename='js/codemirror/search.js')}}"></script>
    <script src="{{url_for('static', filename='js/codemirror/searchcursor.js')}}"></script>
    <script src="{{url_for('static', filename='js/codemirror/jump-to-line.js')}}"></script>
    <script src="{{url_for('static', filename='js/codemirror/dialog.js')}}"></script>
    <script src="{{url_for('static', filename='js/codemirror/matchbrackets.js')}}"></script>
    <script src="{{url_for('static', filename='js/codemirror/show-hint.js')}}"></script>
    <script src="{{url_for('static', filename='js/codemirror/match-highlighter.js')}}"></script>
    <script src="{{url_for('static', filename='js/codemirror/closebrackets.js')}}"></script>
    <script src="{{url_for('static', filename='js/codemirror/javascript.js')}}"></script>
    <script src="{{url_for('static', filename='js/codemirror/markdown.js')}}"></script>
    <script src="{{url_for('static', filename='js/codemirror/xml.js')}}"></script>
    <script src="{{url_for('static', filename='js/third_party/mousetrap.min.js')}}"></script>

    <script type="module" src="{{url_for('static', filename=module_source, v=version_string)}}"></script>
    <script>
        window.world_name = "{{world_name}}";
        window.username = "{{current_user.username}}";
        window.user_id = "{{current_user.get_id()}}";

    </script>
{% endblock %}